name: DevSecOps Pipeline

on: [push]

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: CodeQL
        uses: github/codeql-action/analyze@v3
        with:
          languages: python

      - name: Bandit Scan
        run: |
          pip install bandit
          bandit -r backend -ll

      - name: Build Docker
        run: docker build -t security-api .

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: security-api
          severity: HIGH,CRITICAL
          exit-code: 1
